giotto-tda
numpy
pandas
plotly
matplotlib
matplotlib_venn
scikit-learn
torch
spacy
scipy
networkx
torch-tb-profiler
torchdiffeq
torchensemble
torchtext
torchvision
torchdata
transformers
einops
tensorboard
captum
psutil
kaleido
html2image
optuna
sphinx_rtd_theme
giotto-ph
tqdm
Pillow
h5py
dotmap
sympy
google-cloud-storage
wget
ipython
jsonpickle
typing_extensions; python_version == '3.7'
torch-geometric
torch-sparse
torch-scatter
gudhi