giotto-tda
numpy
pandas
plotly
matplotlib
matplotlib_venn
scikit-learn
spacy
scipy
networkx
torch==1.10.0
torch-tb-profiler==0.3.1
torchdiffeq==0.2.2
torchensemble==0.1.7
torchtext==0.11.0
torchvision==0.11.1
transformers
einops
tensorboard
captum==0.4.1
psutil
kaleido
html2image
optuna
sphinx_rtd_theme
giotto-ph
Pillow
h5py
dotmap
sympy
google-cloud-storage
wget
ipython
jsonpickle
