giotto-tda
protobuf==3.19.6
numpy
pandas
plotly
matplotlib
matplotlib_venn
scikit-learn
torch==1.13.0
spacy
scipy<1.9.0,>=1.7.0
networkx
torch-tb-profiler
torchdiffeq
torchensemble
torchtext
torchvision
torchdata
transformers
einops
tensorboard
captum
rq
rq-dashboard
redis
psutil
kaleido
html2image
optuna
sphinx_rtd_theme
giotto-ph
tqdm
Pillow
h5py
mysql-connector-python
dotmap
sympy
google-cloud-storage
wget
ipython
jsonpickle
typing_extensions; python_version == '3.9'
gudhi
pre-commit
